@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

//fonts
$primary-font: 'Noto Sans Display', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Colors
$main-orange:   #F06543;
$main-dark:     #2F2E41;
$main-blue:     #3772FF;
$success:        #27AE60;
$error:         #E74C3C;
$warning:       #E67E22;